.navigacia {
	background-color: #000;
}

nav img {
	width: 75px;
	height: auto;
}

.navigacia li a {
	cursor: pointer;
	text-transform: uppercase;
	color: #F3EC5A !important;
}

.navigacia li:hover {
    border-bottom: 2px solid yellow;
    transition: 0.7s all;
}

.current {
    border-bottom: 2px solid yellow;
}

#webmenu {
    width:340px;
}

.aboutus {
	background: #EFEFEF;
}

#about {
	border: 3px solid transparent;
	border-image: linear-gradient(100deg, gold, silver) 1;
	margin: 0 auto;
	padding: 10px;
}

.slaideri {
    text-align: center;
    font-size: 15px;
}

.slick-prev:after {
  content: "<";
  color: gold;
  font-size: 30px;
  font-weight: 700;
}

.slick-next:before {
  content: ">";
  color: gold;
  font-size: 30px;
  font-weight: 700; 
}

.slaideri img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
}

.contact {
	border: 3px solid transparent;
	border-image: linear-gradient(-100deg, gold, silver) 1;
	margin: 0 auto;
	padding: 10px;	
}

.gamotvla button {
	font-size: 45px;
	padding: 15px 0;
    width: 100%;
}

.meter, .karat {
	display: flex;
	justify-content: center;
}

.meter button, .karat button {
    font-size: 40px;
    background: linear-gradient(to left, gold 0%, silver 90%);
    font-weight: 700;
    letter-spacing: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px solid gold; 
    border-image: linear-gradient(100deg, gold, silver) 1;
}

.karat button {
    background: linear-gradient(to right, gold 0%, silver 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px solid gold; 
    border-image: linear-gradient(-100deg, gold, silver) 1;
}

button {
    border: none;
}

button:focus {
    outline: none;
}


.kalkulatori, .shua select {
    padding-left: 20px;
	border: 3px solid transparent;
	border-image: linear-gradient(50deg, gold, silver) 1;
}

.bolo select {
    padding-left: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(-50deg, gold, silver) 1;
}

.take input {
    border: 3px solid transparent;
    border-image: linear-gradient(50deg, gold, silver) 1;
	margin-top: 10px;
	padding: 10px 20px;
}

.take input:nth-child(2) {
    border-image: linear-gradient(-50deg, gold, silver) 1;
}

.kalkulacia {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: gold;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.shedegi h3 {
    text-align: center;
    background-color: white;
    border: 3px solid transparent;
    border-image: linear-gradient(50deg, gold, silver) 1;
    padding: 15px;
}

@media only screen and (max-width: 992px) {

    .meter, .karat {
    	margin: 10px 0;
    }

    .take, .shua {
        padding-bottom: 1.4rem;
    }
}

.btn-send {
	background: gold;
	color: #000;
}

.modal input[type=text], input[type=password] {
	color: #fff;
	background: transparent;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal input[type=text] {
	border: 3px solid transparent;
	border-image: linear-gradient(100deg, gold, silver) 1;
}

.modal input[type=password] {
	border: 3px solid transparent;
	border-image: linear-gradient(-100deg, gold, silver) 1;
}

.modal input:focus { 
    outline: none;
}

/* Set a style for all buttons */
.loginn {
	background: transparent;
	border: 3px solid transparent;
	border-image: linear-gradient(100deg, gold, silver) 1;
	padding: 10px 15px;
    color: #fff;
    margin: 8px 0;
    cursor: pointer;
}

.modal button:hover {
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    opacity: 0.9;
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 20% auto;
    width: 320px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	background: transparent;
    position: absolute;
    right: 13px;
    top: -35px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
	color: white;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

footer h3 {
    text-align: center;
    font-size: 16px;
    color: #fff;
}

footer a {
    color: gold;
}

footer a:hover {
    color: yellow;
    text-decoration: none;
}


.registration {
    margin: 0 auto;
    border: 5px solid transparent;
    border-image: linear-gradient(150deg, gold, silver) 1;
}

.reg {
    padding: 10px 20px;
    background-color: gold;
}
